/* Notification */
.notification{
    overflow: hidden;
    z-index: 1;
    width: auto;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 0;
    display: flex;
    background-color: #000;
    color: #ffffff;
    border-radius: 16px;
    transition: 0.3s;
    opacity: 0;
  }
  
  .notification-active{
    position: fixed;
    top: 100px;
    font-size: initial;
    opacity: 1;
  }
  .notification-active .icon {
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 900;
    margin: auto 20px;
  }
  
  .notification-active .success-icon {
    background-color: green;
  }
  
  .notification-active .error-icon {
    background-color: red;
  }
  
  .notification-text{
    display: none;
  }
  .notification-active .notification-text{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #notification-close{
    display: none;
  }
  .notification-active #notification-close{
    width: 45px;
    display: block;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
  }
  .notification-active .progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: green;
    width: 0;
    animation: fillProgress 10s linear forwards;
  }
  
  @keyframes fillProgress {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
  }